<form action="/admin/user/edit/<%= user.id %>" method="POST">
    <%- include('../partials/messages') %>
        <div class="mb-3">
            <label for="username" class="form-label">Tên người dùng</label>
            <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
        </div>
        <button type="submit" class="btn btn-primary">Chỉnh sửa người dùng</button>
        <a href="/admin/users" class="btn btn-secondary">Quay lại</a>
</form>