<div class="mx-auto bg-my-web text-white" style="max-width: 400px;">
    <div class="card-body">
        <h3 class="card-title mb-4">Đổi mật khẩu</h3>

        <%- include('../partials/messages') %>
            <% if (error) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
                <% } %>

                    <form action="/changePassword" method="POST">
                        <div class="mb-3">
                            <label class="form-label">Mật khẩu cũ</label>
                            <input type="password" name="oldPassword" class="form-control" required
                                placeholder="Nhập mật khẩu cũ">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Mật khẩu mới</label>
                            <input type="password" name="password" class="form-control" required
                                placeholder="Nhập mật khẩu mới">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nhập lại mật khẩu mới</label>
                            <input type="password" name="confirm_password" class="form-control" required
                                placeholder="Nhập lại mật khẩu mới">
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary w-100">Đổi mật khẩu</button>
                        </div>
                    </form>
    </div>
</div>

<script>
    document.forms[0].onsubmit = function (e) {
        const password = e.target.password.value;
        const confirm_password = e.target.confirm_password.value;
        if (password !== confirm_password) {
            e.preventDefault();
            alert('Mật khẩu mới và xác nhận mật khẩu không khớp!');
        }
    }
</script>