<div class="mx-auto bg-my-web text-white" style="max-width: 400px;">
    <div class="card-body">
        <h3 class="card-title mb-4">Đăng nhập</h3>
        <%- include('../partials/messages') %>
            <% if (error) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
                <% } %>

                    <form action="/login" method="POST">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" required
                                placeholder="Nhập email của bạn">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Mật khẩu</label>
                            <input type="password" name="password" class="form-control" required
                                placeholder="Nhập mật khẩu của bạn">
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
                            <div class="col-12 text-center mt-2">Chưa có tài khoản?
                                <a href="/register" class="text-white">Đăng ký ngay!</a>
                            </div>
                        </div>
                    </form>
    </div>
</div>